@import 'variables';

// create columns by looping over the number of cols and width variables
@for $i from 1 through $number-of-cols {
  .#{$col-slug}-#{$i} {
    box-sizing: border-box;
    padding: $col-padding;
    width: ( $container-width  * ($i / $number-of-cols) ) + %;
  }
}

.row {
  width: $container-width + %;
  display: flex;
}

.container {
  width: $container-width + %;
}
