@import 'all';

.red {
  background: red;
  color: white;
}

.green {
  background: green;
  color: white;
}

.yellow {
  background: yellow;
  color: blue;
}

.orange {
  background: orange;
  color: blue;
}

.blue {
  background: blue;
  color: white;
}

.purple {
  background: purple;
  color: white;
}

.indigo {
  background: indigo;
  color: white;
}

.violet {
  background: violet;
  color: white;
}


.container {
  color: white;
}

body {
 font-family: Arial, Helvetica, sans-serif;
}
