@import 'all';

.red {
  background: red;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.orange {
  background: orange;
}

.blue {
  background: blue;
}

.purple {
  background: purple;
}

.indigo {
  background: indigo;
}

.violet {
  background: violet;
}


.container {
  color: white;
}
